<div class="panel panel-default">
  <div class="panel-body">
    <h3>关于</h3>
    <p>
        这是我的个人博客，它是使用Django开发的
    </p>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-6">
              <a href="/list" class="thumbnail">
              <img data-src="holder.js/300x200" src="/static/img/me.jpg">
              </a>
          </div>
      </div>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <h3>联系方式</h3>
      <h5>qq: 1253007885</h5>
      <h5>phone: 15651612879</h5>
      <h5>mail: linbin@yahoo.com</h5>
 </div>
</div>